body{background-color: #edf2f7;
}

.topo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008cff;
    padding: 28x 120px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-right: 0px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    display: flex;
    align-items: center;
    object-fit: contain;
    width: 175px;
    height: 175px;
}

.opções{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 50px;
}

.botão{
   display: flex;
   gap: 30px;
}
.botões{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.botões:hover{
    background-color: rgb(102, 88, 88);
    border-radius: 50px;
    color: black;
    transform: translate(-2px);
}

botões:active{
    background-color: whiteS;
}

.barrabranca{
background-color: white;
padding: 15px;
}
